[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_LIS3MDL"]
	path = lib/Adafruit_LIS3MDL
	url = https://github.com/adafruit/Adafruit_LIS3MDL.git
[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "lib/Adafruit_LSM6DS"]
	path = lib/Adafruit_LSM6DS
	url = https://github.com/adafruit/Adafruit_LSM6DS.git
